.error404 {
	#cms-main{
		text-align: center;
		padding: 110px 0;
		h1{
			font-size: 200px;
		}
		.page-content{
			font-size: 17px;
			padding-bottom: 30px;
		}
		@media #{$max-tablet}{
			padding: 50px 0;
			h1{
				font-size: 100px;
			}
		}
	}
}