.cms-backdrop,
.bg-backdrop,
.bg-hover-backdrop:hover{
	background: linear-gradient(142.13deg, rgba(254, 248, 255, 0.31) 1.8%, rgba(254, 248, 255, 0) 99.75%);
	backdrop-filter: blur(43.9804px);
}
//
.cms-backdrop2,
.bg-backdrop2,
.bg-hover-backdrop2:hover{
	background: linear-gradient(142.13deg, rgba(254, 248, 255, 0.21) 1.8%, rgba(254, 248, 255, 0) 99.75%);
	backdrop-filter: blur(43.9804px);
}
