[class*="cms-box-"]{
	display: flex; //inline-flex;
	justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}
// Box Square
$box_sizes:(
	4:4px,
	8:8px, // Blog post meta
	20:20px, // Toggle Menu / cart remove
	40:40px, // Carousel Next/Prev
	22:22px, // Single Comment reply
	24:24px, // Element feature icon
	26:26px, // Element Accordion
	30:30px, // Element Banner
	32:32px, // Header Side Nav
	36:36px, // Used for CMS Social
	38:38px, // Used for View Cart on single product
	42:42px, // Used for CMS Process
	44:44px, // Used for CMS Social
	48 :2.667rem, // Used for Popup Close
	56:56px, // Used for Slider Static layer
	58:58px, // Used for Carousel Arrow
	60:60px, // Single Next/Prev Post
	78:78px, // Used for Blog Standard
	123:123px, // Used for CMS Post Scroll Grow
	
);
@each $name, $size in $box_sizes{
	.cms-box-#{$name}{
		width: #{$size};
		height: #{$size};
	}
}
.cms-box-header-height{
	width: var(--cms-header-height);
	height: var(--cms-header-height);
	@media #{$max-mobile}{
		width: 48px;
		height: 48px;
	}
}
// Box Dimensions
//'32':'40',
$box_sizes_xy:(
	'70' : '58'
);
@each $width, $height in $box_sizes_xy{
	.cms-box-#{$width}x#{$height}{
		width: #{$width}px;
		height: #{$height}px;
	}
}
/**
* Responsive
*
*/
$box_mobile_menu_sizes:();
@media (max-width: $mobile-menu-screen - 1px){
	@each $size in $box_mobile_menu_sizes{
		.cms-box-mobile-menu-#{$size}{
			width: #{$size}px;
			height: #{$size}px;
		}
	}
}
// Mobile
$box_mobile_sizes:(28, 80);
@media #{$max-smobile}{
	@each $size in $box_mobile_sizes{
		.cms-box-mobile-#{$size}{
			width: #{$size}px;
			height: #{$size}px;
		}
	}
}
// Small Mobile
$box_smobile_sizes:();
@media #{$max-smobile}{
	@each $size in $box_smobile_sizes{
		.cms-box-smobile-#{$size}{
			width: #{$size}px;
			height: #{$size}px;
		}
	}
}