// Gallery Grid
.cms-gallery-grid-mixed{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 40px;
    //
    @media #{$min-tablet-extra}{
        .cms-gallery-item{
            h2{
                font-size: 20px;
            }
            &:nth-child(3){
                grid-area: #{'1 / 3 / 3 / 3'};
                grid-column: 3 / span 2;
                h2{
                    font-size: 45px;
                }
            }
            &:nth-child(8){
                grid-area: #{'5 / 3 / 3 / 3'};
                grid-column: 1 / span 2;
                h2{
                    font-size: 45px;
                }
            }
            &:nth-child(3),
            &:nth-child(8){
                .bg-brown{
                    padding-top: 100px;
                    padding-bottom: 100px;
                }
            }
        }
    }
    @media #{$max-tablet}{
        grid-template-columns: auto auto;
    }
    @media #{$max-smobile}{
        grid-template-columns: auto;
    }
}