// select 2
.select2{
    &.select2-container--default {
        .select2-selection--single {
            .select2-selection__arrow{
                top: 15px !important;
                right: 15px !important;
                [dir="rtl"] &{
                    right: auto!important;
                    left: 15px!important;
                }
            }
            .select2-selection__rendered{
                 line-height: 56px !important;
            }
        }
        .select2-selection--multiple{
            .select2-selection__rendered{
                padding: 0;
                li{
                    margin: 0;
                }
            }
        }
        // Focus
        &.select2-container--focus{
            .select2-selection--multiple{
                border: none;
            }
        }
    }
}

// CMS Select2
$select2_cms_dropdown_w: 220px;
.select2-container--cms-dropdown{
	display: block!important;
	.select2-selection--single{
		color: var(--cms-primary);
		text-transform: uppercase;
		font-size: 15px;
    letter-spacing: 0.6px;
		.select2-selection__rendered{
			padding-inline-end: 30px;
			padding-top: 4px;
		}
	}
	.select2-selection__arrow{
		position: absolute;
		top: calc(50% - 3px);
		right: 0;
		width: 11px;
		height: 7px;
		background: url(../images/select-arrow.png) center center no-repeat;
		[dir="rtl"] &{
			right: auto;
			left: 0;
		}
	}
	.select2-dropdown{
		min-width: $select2_cms_dropdown_w;
		border-radius: 0;
		padding: 12px 0 12px 0;
		border:none;
		box-shadow: 0px 4px 24px rgba(27, 26, 26, 0.06);
	}
	.select2-results__option{
		padding: 3px 20px;
		font-size: 15px;
		color: var(--cms-primary);
		@include transition();
		&:hover{
			color: $white;
			background-color: var(--cms-primary);
		}
	}
	.select2-dropdown--above{
		@include transform(translateY(-10px));
	}
	.select2-dropdown--below{
		@include transform(translateY(10px));
	}
	// open
	&.select2-container--open{
		.select2-dropdown--above,
		.select2-dropdown--below{
			box-shadow: 0px 4px 24px rgba(27, 26, 26, 0.06)
		}
		.select2-dropdown--below{
			transform: translateY(22px);
		}
	}
}