.cms-toggle-content{
	visibility: hidden;
	opacity: 0;
	z-index: -9999;
	min-width: 350px;
	//
	&.open{
		visibility: visible;
		opacity: 1;
		z-index: 2;
	}
	//
	@media (max-width: 575px){
		min-width: 280px;
	}
}