/* Page Loading */
#cms-loadding {
    background: #fff;
    height: 100vh;
    position: relative;
    width: 100vw;
    z-index: 999999;
    top: 0;
    left: 0;
    @include transition(all 300ms linear 0ms);

    .loading-spinner {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        @include transform(translate(0, -50%));
        width: 70px;
        text-align: center;

        >div {
            width: 18px;
            height: 18px;
            background-color: var(--cms-primary-regular);
            @include border-radius(100%);
            display: inline-block;
            -webkit-animation: cms-bouncedelay 1.4s infinite ease-in-out both;
            animation: cms-bouncedelay 1.4s infinite ease-in-out both;
        }

        .cms-bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .cms-bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }
}