/* CMS Button */
$btn_padding: 6px;
$btn_radius: 10px;
$btn_xs_radius: 4px;
$btn_sm_radius: 6px;
$btn_smd_radius: 8px;
$btn_md_radius: 8px;
$btn_lg_radius: 10px;
$btn_xl_radius: 10px;
$btn_2xl_radius: 12px;
$cms_theme_button_colors: $_cms_theme_colors;

.cms-btn,
.button,
button:not(.cms-btn):not(.cms-search-submit):not(.cms-wgsearch-submit):not([class^="wc-block-"]):not([class*="elementor-add-"]):not(.elementor-preset):not(.e-con-preset):not(.e-con-select-type__icons__icon):not(.slick-arrow):not([id^="slick-slide-control"]):not(.mfp-close):not(.mfp-arrow),
input[type="submit"],
input[type="button"] {
    position: relative;
    font-size: 0.889rem;
    font-family: var(--cms-body-family);
    font-weight: 700;
    min-height: var(--cms-form-btn-height, var(--cms-default-form-field-height));
    @include transition(all 300ms linear 0ms);
    display: inline-flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: var(--cms-btn-radius, $btn_radius);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    padding:var(--cms-btn-padding, $btn_padding);
    // Hover
    &:hover {
        outline: none;
        text-decoration: none;
    }
    &.justify-content-between{
        justify-content: space-between;
    }
    // Responsive
    @media #{$max-mobile}{
        min-height: calc(var(--cms-form-btn-height, var(--cms-default-form-field-height )) - 10px);
    }
}
.cms-btn{
    background: var(--cms-btn-bg);
    //color: var(--cms-btn-color);
    padding: var(--cms-btn-padding, $btn_padding);
    //padding-inline-end: 24px;
    &:hover,
    &:active{
        background: var(--cms-btn-bg-hover);
        //color: var(--cms-btn-color-hover);
    }
    // Responsive
    @media #{$max-mobile}{
        padding:6px;
        padding-inline-end:12px;
    }
    //
    &:not(:has(>.cms-eicon)){
        padding-inline-start: 24px;
        padding-inline-end: 24px;
    }
    // Icon position
    &:has(>.cms-eicon.order-first){
        padding-inline-end: 24px;
    }
    &:has(>.cms-eicon:not(.order-first)){
        padding-inline-start: 24px;
    }

}

button:not(.cms-btn):not([class*="cms-box-"]):not(.cms-search-submit):not(.cms-wgsearch-submit):not([class^="wc-block-"]):not([class*="bg-"]):not([class*="elementor-add-"]):not(.elementor-preset):not(.e-con-preset):not(.e-con-select-type__icons__icon):not(.slick-arrow):not([id^="slick-slide-control"]):not(.mfp-close):not(.mfp-arrow),
.button,
input[type="submit"],
input[type="button"]{
    color: var(--cms-form-btn-color, $white);
    background-color: var(--cms-form-btn-bg, var(--cms-accent));
    padding: var(--cms-btn-padding, 0 24px);
    &:hover{
        background-color: var(--cms-form-btn-bg-hover, var(--cms-primary));
        color: var(--cms-form-btn-color-hover, var(--cms-white));
    }
}
button[disabled],
input[disabled]{
    opacity: 0.5;
}

// Button Outline
[class*="btn-outline"],
.elementor [class*="btn-outline"],
[class*="btn-hover-outline-"],
.elementor [class*="btn-hover-outline-"]{
    border: 1px solid;
}

[class*="btn-hover-outline-"],
.elementor [class*="btn-hover-outline-"]{
    &:hover{
        background: transparent;
    }
}
// Button Color
@each $name in $cms_theme_button_colors{
    .btn-#{$name}:not(:hover),
    .cms-hover-change:hover .btn-on-hover-#{$name}:not(:hover),
    .btn-hover-#{$name}:hover{
        background: #{var(--cms-#{$name})};
        border-color: #{'var(--cms-#{$name})'}!important;
    }
    .btn-outline-#{$name}:not(:hover),
    .cms-hover-change:hover .btn-on-hover-outline-#{$name}:not(:hover),
    .elementor .btn-outline-#{$name}:not(:hover){
        border-color: #{'var(--cms-#{$name})'};
    }
    // Outline When Hover
    .btn-hover-outline-#{$name},
    .elementor .btn-hover-outline-#{$name}{
        &:hover{
            border-color: #{'var(--cms-#{$name})'};
        }
    }
}
// Button Size
.btn-xs{
    min-height: 36px;
    padding: 0 20px;
    border-radius: $btn_xs_radius;
}
.btn-sm{
    min-height: 42px;
    padding: 0 20px;
    border-radius: $btn_sm_radius;
}
.btn-smd{
    min-height:48px;
    padding: var(--cms-btn-padding, 0 20px);
    border-radius: $btn_smd_radius;
}
.btn-md{
    min-height: 50px;
    padding: var(--cms-btn-padding, 0 24px);
    border-radius: $btn_md_radius;
}
.btn-lg{
    min-height: 4.1111rem; //74
    padding: var(--cms-btn-padding, 0 2.2222rem);
    border-radius: $btn_lg_radius;
}
.btn-xl{
    min-height: 80px;
    padding: var(--cms-btn-padding, 0 40px);
    border-radius: $btn_xl_radius;
}
.btn-2xl{
    min-height: 106px;
    padding: var(--cms-btn-padding, 0 40px);
    border-radius: $btn_2xl_radius;
}
// Link
.cms-link{
    display: inline-flex;
    gap: 10px;
    align-items:center;
}
// Video 
.cms-video-play-stroke{
    max-width: 100%;
    max-height: 100%;
    .cms-stroke-1{
        stroke-dasharray: var(--stroke-dasharray, 940);
    }
    .cms-stroke-2{
        stroke-dasharray: var(--stroke-dasharray-hover, 940);
        stroke-dashoffset: 940;
        stroke-width: 3px;
        @include transition('stroke-dashoffset .6s cubic-bezier(.22,1,.36,1)');
    }
}
.cms-btn-video{
    cursor: pointer;
    //display: flex;
    //align-items:center;
    // Stroke style
    &.has-stroke{
        &:hover{
            .cms-stroke-2{
                stroke-dashoffset: 0;
            }
        }
    }
}