.comment{
	+ .comment{
		margin-top: 45px;
	}
}
.comment-text{
	position: relative;
}
.comment + .comment-respond{
	margin: 30px 0 40px;
}

// Children
.comment.parent{
	> .comment{
		margin-top: 48px;
	}
	.comment{
		padding-left: 20px;
		[dir="rtl"] &{
			padding-left: 0;
			padding-right: 20px;
		}
		@media (min-width: 1025px){
			padding-left: 40px;
			[dir="rtl"] &{
				padding-left: 0;
				padding-right: 40px;
			}
		}
		@media (min-width: 1280px){
			padding-left: 118px;
			[dir="rtl"] &{
				padding-left: 0;
				padding-right: 118px;
			}
		}
	}
}

// Other
.comment-form-cookies-consent {
	line-height: 24px;
	padding-inline-start: 25px;
	position: relative;
	margin-bottom:0;
	margin-top: 20px;
	label{
		font-weight: 400;
		font-size: 16px;
	}
	input, label:before, label:after{
		position: absolute;
		width: 18px;
		height: 18px;
		left: 0;
		top: 2px;
		[dir="rtl"] &{
			left: auto;
			right: 0;
		}
	}
	label:before {
		content: '';
		border: 1px solid var(--cms-menu);
		background-color: #fff;
		z-index: 1;
	}
	label:after {
		content: url(../svgs/core/check.svg);
		width: 10px;
		opacity: 0;
		z-index: 2;
		left: 4px;
		top: 0;
		[dir="rtl"] &{
			left: auto;
			right: 4px;
		}
	}
	input {
		z-index: 99;
		opacity: 0;
		&:checked + label:before {
			border-color: var(--cms-accent);
			background-color: #fff;
		}
		&:checked + label:after {
			opacity: 1;
		}
	}
}
.comment-reply-title{
	margin-bottom: 12px;
}
.comments-title,
.comment-reply-title,
.woocommerce-Reviews-title {
	+ .comment-notes{
		margin-bottom: 23px;
	}
	.logged-in &{
		+ .comment-notes{
			margin-bottom: 0;
		}
	}
}

.logged-in-as{
	margin-bottom: 32px;
}
#cancel-comment-reply-link{
	border-radius: 2px;
	background-color: var(--cms-primary-regular);
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	line-height: 25px;
	display: inline-block;
	padding: 0 10px;
	margin-left: 8px;
	&:hover {
		background-color: var(--cms-accent-regular);
	}
}

//
.comment-list-wrap .comment-respond,
.comment-list-wrap + .comment-respond,
#comments + #review_form_wrapper,
.review + .comment-respond{
	margin-top: 70px;
	@media #{$max-mobile-extra}{
		margin-top: 30px;
	}
}
.no-comments{
	color: red;
	font-weight: 700;
}

.woocommerce-Reviews {
	.commentlist > .review + .review{
		margin-top: 40px;
	}
	.comment-reply{
		display: none;
	}
	.comment-content > .star-rating{
		margin-bottom: 7px;
	}
}

/**
 * Star ratings
 */
.cms-comment-form-rating{
    margin-top: 25px;
    margin-bottom: 15px;
	display: flex;
	gap: 30px;
}
p.stars {
	margin: 0!important;
	display: inline-block;
	a {
		position: relative;
		font-size: 15px;
		display: inline-flex;
		text-decoration: none;
		vertical-align: middle;
		color: $star_icon_color;
		overflow: hidden;
		svg{
			width: 15px;
		}

		&:hover ~ a {
			//content: $star_icon;
			color: $wc_star_color;
		}
		&:hover{
			color: $wc_star_hover_color;
		}
	}

	&:hover a {
		//content: $star_icon_filled;
		color: $wc_star_hover_color;
	}

	&.selected {
		a.active {
			&::before {
				//content: $star_icon_filled;
				//color:  $wc_star_hover_color;
			}

			~ a {
				//content: $star_icon;
				color: $wc_star_color;
			}
			~ a:hover{
				color: $wc_star_hover_color;
			}
		}
		a:not(.active) {
			//content: $star_icon_filled;
			color: $wc_star_hover_color;
		}
		// Hover
		&:hover{
			a{
				color: $wc_star_hover_color;
			}
			a:not(.active) {
				color: $wc_star_hover_color;
				~ a {
					color: $wc_star_color;
				}
			}
			a:hover ~ a {
				color: $wc_star_color;
			}
		}
	}
}