// Custom Elementor Space
:root{
	--container-default-padding-top:#{$gutters/2};
	--container-default-padding-bottom:#{$gutters/2};
	--container-default-padding-left:#{$gutters/2};
	--container-default-padding-right:#{$gutters/2};
}
.e-con{
	>.e-con-inner{
		//max-width: calc(#{$elementor_container_width} - #{$gutters});
		max-width: #{$elementor_container_width};
		&:has(>.e-child){
			max-width: calc(#{$elementor_container_width} + #{$gutters});
		}
	}
	//
	&.cms-econ-small-space{
		>.e-con-inner{
			max-width: calc(#{$elementor_container_width} - 20px);
			&:has(>.e-child){
				max-width: calc(#{$elementor_container_width} + 20px);
			}
		}
	}
}
@media (max-width: $elementor_container_width){
	//
	.e-con-inner:not(:has(>.e-child)){
		padding-inline-end: var(--padding-inline-end);
		padding-inline-start: var(--padding-inline-start);
	}
}
/**
 * Container Boxed
 * */
$eboxed_w: 96px;
$eboxed_w_wide: 160px;
.cms-econ-boxed{
	//margin-left: var(--margin-inline-start);
	//margin-right: var(--margin-inline-end);
	//max-width: calc(100% - #{$gutters})!important;
	@media #{$min-wide}{
		margin-left: $eboxed_w/2;
		margin-right: $eboxed_w/2;
		max-width: calc(100% - #{$eboxed_w})!important;
	}
}
.cms-econ-boxed-full-left,
.cms-econ-boxed-full-right{
	padding-inline-start: 0;
	padding-inline-end: 0;
	max-width: calc(100vw - calc(calc(100vw - #{$container-width} - #{$gutters})/2))!important;
}
.cms-econ-boxed-full-left{
	@media (min-width: #{$container-width}){
		margin-inline-end: calc(calc(100vw - #{$container-width} - #{$gutters})/2);
		.e-con-inner{
			margin-inline-end:0;
		}
	}
}
.cms-econ-boxed-full-right{
	@media (min-width: #{$container-width}){
		margin-inline-start: calc(calc(100vw - #{$container-width} - #{$gutters})/2);
		.e-con-inner{
			margin-inline-start:0;
		}
	}
}
.cms-econ-pattern{
	z-index: 0;
}
/**
 * Container No Space
 * */
.cms-econ-nospace{
	padding: 0;
	>.e-child,
	>.e-con-inner{
		padding: 0;
	}
	>.e-con-inner{
		max-width: calc(#{$elementor_container_width} - #{$gutters});
		> .e-child:not([class*=" p-"]){
			padding:0;
		}
	}
	//
	&.e-con-boxed{
		> .e-con-inner{
			padding-inline-end: var(--padding-inline-end);
			padding-inline-start: var(--padding-inline-start);
		}
	}
}
.elementor-element.cms-econ-small-space .e-con{
	--padding-block-end:10px;
    --padding-block-start:10px;
    --padding-inline-start:10px;
    --padding-inline-end:10px;
}
/**
 * Container Full space start
 * */
.e-con-full-space-start{
	padding-inline-start: calc(calc(100vw - #{$container-width} - #{$gutters})/2 + var(--padding-inline-start));
}
/**
 * Container Full space end
 * */
.e-con-full-space-end{
	padding-inline-end: calc(calc(100vw - #{$container-width} - #{$gutters})/2 + var(--padding-inline-end));
}
/**
 * Container Full Header Left
 * */
@media (min-width: $mobile-menu-screen){
	.e-con-full-header-left{
		padding-inline-start: calc(var(--cms-header-width) + var(--padding-inline-start));
	}
}
/**
 * Container Content Boxed Wide
 * */
.e-parent{
	//background-color: var(--cms-body-bg);
	// Remove space left/right
	&.e-con{
		&.cms-bg-fixed{
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
		}
		// Default
		@media #{$max-laptop}{
			&.e-con--row,
			&.e-con--column:has(>.e-con-inner){ //&:not([class*=" p-"])
				padding-inline-start: 0;
				padding-inline-end:0;
			}
		}
		// Has Container
		/*&:has(>.e-con-inner>.e-child) {
			padding-inline-start: 0;
			padding-inline-end: 0;
		}*/
		// No Container
		>.e-con-inner:not(:has(>.e-child)) {
			//padding-inline-start: var(--container-default-padding-left);
			//padding-inline-end: var(--container-default-padding-right);
		}
		/*&:has(>.e-con-inner>.elementor-element) {
			padding-inline-start: var(--container-default-padding-left);
			padding-inline-end: var(--container-default-padding-right);
		}*/
	}
	// Boxed
	&.e-con-boxed-wide{
		//padding-inline-start:var(--padding-inline-start);
		//padding-inline-end:var(--padding-inline-end);
		@media #{$min-wide}{
			padding-inline-start: 48px;
			padding-inline-end: 48px;
			// Has chils Container
			&:has(>.e-con){
				padding-inline-start: calc(48px - #{$elementor_gutter_width/2});
				padding-inline-end: calc(48px - #{$elementor_gutter_width/2});
			}
		}
		&.cms-econ-nospace{
			@media #{$min-wide}{
				padding-inline-start: 48px;
				padding-inline-end: 48px;
			}	
		}
	}
	// 
	&:not(.cms-econ-nospace){
		&:has(>.e-con-inner) .elementor-widget{
		    //padding-block-end: var(--padding-block-end);
    		//padding-block-start: var(--padding-block-start);
		    //padding-inline-end: var(--padding-inline-end);
		    //padding-inline-start: var(--padding-inline-start);
		}
	}
}
/**
 * Container Shape Overlay
 * 
 * */
.cms-shape-overlay{
	background-size: cover!important;
  	background-position: center!important;
  	background-attachment: fixed!important;
	@media #{$min-wide}{
 		&.boxed{
			margin-left: $eboxed_w_wide/2;
			margin-right: $eboxed_w_wide/2;
			max-width: calc(100% - #{$eboxed_w_wide});
		}
		&.boxed-wide{
			margin-left: $eboxed_w/2;
			margin-right: $eboxed_w/2;
			max-width: calc(100% - #{$eboxed_w});
		}
	}
}
//
.elementor-element{
	&:before,
	&:after{
		border-radius: inherit;
	}
}
// Child Container
.e-child.cms-echild-full-end{
	&:before{
		// content:'';
		// position: absolute;
		// top: 0;
		// right: 0;
		// bottom: 0;
		// width: 50vw;
		// background-color: inherit;
	}
}