.cms-footer{
	// Default Footer
	&:not(.cms-footer-elementor){
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
// Fixed Footer
.cms-footer-fixed{
	.cms-body{
		position: relative;
		z-index: 1;
		background-color: var(--cms-body-bg);
	}
	#cms-footer{
		position: fixed;
		width: 100vw;
		bottom: 0;
	}
}

.scroll-top {
	position: fixed;
	z-index: 99;
	bottom: 0px;
	right: 48px;
	height: 48px;
	width: 48px;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items:center;
	justify-content: center;
	border-radius: 10px;
	&.to-top-show {
		bottom: 48px;
		opacity: 1;
		visibility: visible;
		@media #{$max-mobile} {
			bottom: 8px;
			//right: 16px;
			height: 42px;
			width: 42px;
			//line-height: 30px;
			[dir="rtl"] &{
				right: auto;
				left: 16px;
			}
		}
	}
	@media #{$max-mobile} {
		right: 16px;
	}
	[dir="rtl"] &{
		right: auto;
		left: 48px;
		@media #{$max-mobile} {
			right: auto;
			left: 16px;
		}
	}
}

#cms-subscribe-popup{
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    background-color: rgba(#1b1a1a,0.7);
    overflow: hidden;
    .cms-fadeInRight,
    .cms-fadeInLeft,
    .cms-fadeInUp{
    	opacity: 0;
    	visibility: hidden;
    	transition: transform .52s cubic-bezier(.35,.18,.07,1.04), opacity .52s cubic-bezier(.35,.18,.07,1.04),visibility .52s cubic-bezier(.35,.18,.07,1.04);
    }
    .cms-fadeInLeft{
    	@include transform(translateX(-100%));
    }
    .cms-fadeInRight{
    	@include transform(translateX(100%));
    }
    .cms-fadeInUp{
    	@include transform(translateY(100%));
    }
}
.cms-sp-inner{
    min-width: calc( 100vw - 40px);
    @media #{$min-mobile-extra} {
    	width: var(--cms-popup-max-width, 620px);
    	max-width: 100vw;
    	min-width: unset;
    }
}
.cms-sp-opened {
	overflow: hidden;
	height: 100vh;
	#cms-subscribe-popup{
		opacity: 1;
	    visibility: visible;
	    .cms-fadeInRight,
	    .cms-fadeInLeft,
	    .cms-fadeInUp{
	    	opacity: 1;
	    	visibility: visible;
	    }
	    .cms-fadeInLeft{
	    	@include transform(translateX(0));
	    }
	    .cms-fadeInRight{
	    	@include transform(translateX(0));
	    }
	    .cms-fadeInUp{
	    	@include transform(translateY(0));
	    }
	}
}