#cms-header-left-show-menu{
	cursor: pointer;
	.cms-svg-icon{
		@include transition();
	}
	.close{
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%) scale(2));
	}
	&.open{
		.close{
			visibility: visible;
			opacity: 1;
			@include transform(translate(-50%, -50%) scale(1));
		}
		.open{
			visibility: hidden;
			opacity: 0;
			@include scale(0);
		}
	}
}
//
.cms-header-layout-left{
	--site-navigation-w:272px;
	///
	@media (min-width: $mobile-menu-screen){
		min-height: 100vh;
		&:not(.cms-header-transparent){
			padding-inline-start: var(--cms-header-width);
		}
		.cms-header.header-sticky-hidden:not(.header-mobile-open){
			transform: translate(-110%, 0);
		}
		.cms-header.header-divider.header-sticky-show,
		.cms-header.header-divider.header-sticky-hidden{
			box-shadow: 0 0 0 1px var(--cms-divider);
		}
		.cms-header.header-divider.header-transparent{
			border-right: 1px solid rgba(255, 255, 255, 0.15);
		}
		.header-transparent.header-sticky-hidden {
			.site-logo{
				background-image: var(--cms-header-left-sticky-logo);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				img{
					visibility: hidden;
					opacity: 0;
				}
			}
			.menu-color{
				color: var(--cms-menu-regular);
				&:hover{
					color: var(--cms-menu-hover);
				}
			}
		}
		.cms-header{
			position: fixed;
			left: 0;
			top: 0;
			height: 100vh;
			width: var(--cms-header-width);
			.cms-header-main{
				height: 100vh;
				padding-left: 0!important;
				padding-right: 0!important;
				> *{
					width: 100%;
					flex: 0 0 100%;
				}
			}
		}
		.site-navigation{
			position: fixed;
			top: 0;
			bottom: 0;
			left: calc(var(--cms-header-width)*2);
			height: 100vh;
			background: linear-gradient(142.13deg, rgba(254, 248, 255, 0.21) 1.8%, rgba(254, 248, 255, 0) 99.75%);
			backdrop-filter: blur(43.9804px);
			width: var(--site-navigation-w)!important;
			flex: 0 0 var(--site-navigation-w)!important;
			visibility: hidden;
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap:30px;
			@include transition();
			&.open{
				visibility: visible;
				opacity: 1;
				left: var(--cms-header-width);
			}
			[dir="rtl"] &{
				left: auto;
				right: calc(var(--cms-header-width)*2);
				&.open{
					right: var(--cms-header-width);
				}
			}
		}
		.site-branding{
			align-self:flex-start;
			padding-top: 50px;
		}
		.site-tools{
			align-self:flex-end;
			justify-content: start;
			padding-bottom: 50px;
			flex-direction: column;
			gap:15px;
		}
		.cms-primary-menu-dropdown {
			padding: 0 80px;
			>li{
				height: unset;
				margin: 0;
				flex: 0 0 100%;
				.cms-menu-link{
					position: relative;
				}
				&:not(:last-child){
					padding-bottom: 25px;
				}
			}
			.sub-menu{
				left: 100%!important;
				top: 0;
				margin-top: 0;
				margin-inline-start: 40px;
				max-width: calc(100vw - (var(--cms-header-width) + var(--site-navigation-w)));
			}
			li:hover{
				> .sub-menu{
					margin-inline-start: 0;
				}
			}
		}
		//
		.header-sticky-hidden{
			background-color: $white;
			box-shadow: $header_box_shadow;
			.site-navigation{
				background-color: rgba(255,255,255,0.5);
			}
			.cms-primary-menu-dropdown>li .cms-menu-link{
				color: var(--cms-menu-regular);
				&:hover{
					color: var(--cms-menu-hover);
				}
				&.current-menu-ancestor,
				&.current-menu-parent{
					> .cms-menu-link{
						color:var(--cms-menu-active);
					}
				}
			}
		}
	}
	///
	@media (min-width: 1600px){
		.cms-header.header-sticky-hidden:not(.header-mobile-open){
			transform: none;
		}
	}
}