// Main Navigation
$menu_font_size: 14px;
$menu_font_weight: 500;
$menu_gap: 0;
$menu_divider: 0px solid $border-color;
$menu_underline_color: var(--cms-menu-regular);
$menu_underline_color_hover: var(--cms-menu-hover);
$menu_underline_color_active: var(--cms-menu-active);
$transparent_menu_underline_color: var(--cms-menu-transparent-regular);
$transparent_menu_underline_color_hover: var(--cms-menu-transparent-hover);
$transparent_menu_underline_color_active: var(--cms-menu-transparent-active);
// Dropdown Menu
$min_dropdown_width: 260px;
$dropdown_font_size: 14px;
$dropdown_font_weight: 500;
$dropdown_color: var(--dropdown-regular);
$dropdown_color_hover: var(--dropdown-hover, var(--dropdown-regular));
$dropdown_color_active: var(--dropdown-active, var(--dropdown-hover));
$dropdown_border_color: var(--cms-divider);
$dropdown_border: 1px solid $dropdown_border_color;
$dropdown_offset: 0;

$btn_nav_mobile_width: 22px;
//--------------------------------------------------
// All 
.main-menu-toggle {
    @include transition(all 300ms linear 0ms);
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content:center;
    @media (max-width: $mobile-menu-screen - 1px){
        height: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
        //background-color: var(--cms-menu-regular);
        //border-radius: 2px;
        //color: #fff;
        &:hover {
            //background-color: var(--cms-menu-active);
        }
        &.open{
            @include transform(rotate(90deg));
        }
    }
}
// Dropdown Menu
.cms-primary-menu-dropdown {
    // First Level
    > li{
        @include transition();
        > a {
            color: var(--cms-menu-regular);
            font-size: $menu_font_size;
            font-weight: $menu_font_weight;
            z-index: 2;
            display: flex;
            align-items: center;
            gap: 8px;
        }
        &:hover{
            > a{
                color: var(--cms-menu-hover);
            }
        }
        &.current-menu-item ,
        &.current-menu-ancestor {
            > a{
                color: var(--cms-menu-active);
            }
        }
    }
    // Dropdown
    .sub-menu {
        @include transition();
        li {
            border-bottom: $dropdown_border;
            overflow: hidden;
            &:after{
                content: '';
                height: 1px;
                position: absolute;
                left: 0;
                bottom:0;
                width: 0;
                @include transition();
                [dir="rtl"] &{
                    left: auto;
                    right: 0;
                }
            }
            a {
                color: $dropdown_color;
                font-size: $dropdown_font_size;
                font-weight: $dropdown_font_weight;
                line-height: normal;
                padding: 11px 0;
                display: flex;
                gap:12px;
                overflow: hidden;
                transform: translateX(-22px);
                [dir="rtl"] &{
                    transform: translateX(22px);
                }
                .menu-child-icon{
                    @include transition();
                    //transform: translateY(22px);
                }
            }
            &:hover,
            &.current-menu-item,
            &.current-menu-ancestor {
                &:after{
                    width: 100%;
                }
                > a{
                    transform: translateX(0);
                    .menu-child-icon{
                        transform: translateY(0);
                    }
                }
            }
            &:hover{
                &:after{
                    background-color: $dropdown_color_hover;
                }
                > a{
                    color: $dropdown_color_hover;
                }
            }
            &.current-menu-item,
            &.current-menu-ancestor {
                &:after{
                    background-color: $dropdown_color_active;
                }
                > a{
                    color: $dropdown_color_active;
                }
            }
            &:last-child{
                border-bottom: 0;
            }
        }
        // RTL 
    }
    // Dropdown Mega
    .cms-dropdown-mega{
        margin-bottom: 0;
    }
}
// Menu Desktop
@media #{$min-desktop-menu} {
    .cms-megamenu-full {
        width: 100vw;
    }
    .cms-primary-menu-dropdown {
        display: flex;
        flex-wrap: wrap;
        gap: $menu_gap;
        margin: 0;
        li {
            position: relative;
        }
        > li:not(.menu-item-logo) {
            // First Level
            margin-inline-end: 32px;
            border-right: $menu_divider;
            display: flex;
            align-items:center;
            height: var(--cms-header-height);
            &:first-child{
                margin-inline-start:0;
            }
            &:last-child{
                margin-inline-end:0;
            }
            &:hover,
            &.current-menu-item,
            &.current-menu-ancestor{
                
            }
            //
            > .sub-menu:not(.cms-megamenu-full){
                margin-inline-start: #{$dropdown_offset};
            }
        }
        /**
         * Underline Style
         * Outline & Inline Underline
         * 
        */
        &.menu-outline-underline,
        &.menu-inline-underline{
            > li {
                > a{
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        height: 1px;
                        width: 0;
                        background-color: currentColor;
                        @include transition();
                    }
                }
                &:hover,
                &.current-menu-item,
                &.current-menu-ancestor{
                    > a{
                        &:after{
                            width: 100%;
                        }
                    }
                }

            }
        }
        /**
         * Underline Style
         * Inline Underline
         * 
        */
        &.menu-inline-underline{
            > li {
                > a{
                    position: relative;
                }
            }
        }

        // Dropdown
        .sub-menu {
            position: absolute;
            padding: 24px 32px;
            top: 100%;
            left: 0;
            margin-bottom: 0;
            margin-top: 15px;
            min-width: $min_dropdown_width;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            clip: rect(1px, 1px, 1px, 1px);
            background: var(--dropdown-bg);
            border-radius: var(--dropdown-radius);
            @include box-shadow(var(--dropdown-shadow));
            &.sub-megamenu{
                padding:0;
            }
            > li{
                &:last-child {
                    > a {
                        border-bottom: none;
                    }
                }
            }
            // level 3+
            .sub-menu {
                top: 0;
                left: 100%;
                &.back{
                    left: auto;
                    right: 100%;
                }
            }
            // Menu Touched Side
            &.back{
                left: auto;
                right: 0;
                // level 3+
                .sub-menu {
                    right: 100%;
                    left: auto;
                }
            }
            // RTL 
            [dir="rtl"] &{
                left: auto;
                right: 0;
                // level 3+
                .sub-menu {
                    left: auto;
                    right: 100%;
                    &.back{
                        left: 100%;
                        right: auto;
                    }
                }
                // Menu Touched Side
                &.back{
                    left: 0;
                    right: auto;
                    // level 3+
                    .sub-menu {
                        left: 100%;
                        right: auto;
                    }
                }
            }
        }
        .cms-dropdown-wide{
            >.sub-menu {
                min-width: 330px;
            }
        }
        li:hover,
        li.focus {
            overflow: visible;
            > .sub-menu {
                visibility: visible;
                opacity: 1;
                margin-top:0;
                clip: inherit;
                // Header Divider
                .header-divider &{
                    margin-top: 1px;
                }
            }
        }
    }
    // Header Transparent
    .header-transparent:not(.header-sticky-show) .cms-primary-menu-dropdown {
        > li {
            > a {
                color: var(--cms-menu-transparent-regular);
            }
            //
            &:hover {
                //
                > a{
                    color: var(--cms-menu-transparent-hover);
                }
            }
            //
            &.current-menu-item,
            &.current-menu-ancestor {
                //
                > a{
                    color: var(--cms-menu-transparent-active);
                }
            }
        }
    }
}

/**
 * Mobile Menu
*/
.main-menu-mobile {
    cursor: pointer;
}
.sidenav-logo,
.sidenav-header {
    .main-menu-mobile{
        display: flex !important;
        justify-content: center;
        align-items:center;
        width: var(--cms-header-height);
        height: var(--cms-header-height);
        background-color: white;

        @media (max-width: $mobile-menu-screen - 1px){
            width: 65px;
            height: 65px;
        }
    }
}
@media (max-width: $mobile-menu-screen - 1px) {
    .site-navigation-dropdown {
        background: var(--cms-white);
        border-radius: var(--dropdown-radius-mobile);
        @include box-shadow(var(--dropdown-shadow));
        position: absolute;
        padding: 16px 16px 32px;
        top: calc(100% + 30px);
        bottom: auto;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        @include transition(all 300ms linear 0ms);
        z-index: -1;
        max-height: 95vh;
        overflow: scroll;
        width: calc(100vw - 40px);
        &.navigation-open {
            opacity: 1;
            visibility: visible;
            top: calc(100% + 8px);
            z-index: 999;
            box-shadow: var(--dropdown-shadow);
        }
    }
    .cms-primary-menu-dropdown {
        width: 100%;
        margin-bottom: 0;
        // All
        li {
            position: relative;
            border-bottom: 1px solid var(--cms-divider);
            &.current-menu-item > a,
            &.current-menu-ancestor > a {
                color: var(--cms-menu-active);
            }
        }
        // Level 1
        > li {
            > a{
                padding: 12px 0 9px;
                position: relative;
                color: var(--cms-menu-regular);
                display: flex;
                gap:5px;
                justify-content: space-between;
                align-items: center;
            }
            &:hover > a{
                color: var(--cms-menu-hover);
            }
            &.current-menu-item > a,
            &.current-menu-ancestor > a {
                color: var(--cms-menu-active);
            }
        }
        // Level 2+
        .sub-menu {
            position: relative;
            display: none;
            margin-bottom: 0;
            &:not(.sub-megamenu){
                padding-left: 10px;
                padding-right: 10px;
            }
            .container {
                padding: 0;
            }
            li{
                border-top: 1px solid var(--cms-divider);
                border-bottom: 0;
                a{
                    color: var(--cms-menu-regular);
                }
                &:hover{
                    >a{
                        color: var(--cms-menu-hover);
                    }
                }
                &.current-menu-item > a,
                &.current-menu-ancestor > a {
                    color: var(--cms-menu-active);
                }
            }
            >li{
                &:last-child{
                    border-bottom: 0;
                }
            }
            > a{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                font-size: 13px;
                color: var(--cms-menu-regular);
                font-weight: 700;
            }
            &.sub-megamenu{
                >.elementor >.elementor-element{
                    padding-left: 0;
                    padding-right: 0;
                    > .e-con-inner{
                        padding-top: 0;
                    }
                }
            }
        }
        li.focus {
            > .sub-menu {
                visibility: visible;
                opacity: 1;
                max-height: none;
                overflow: visible;
            }
        }
    }
    .primary-menu-not-set {
        margin: 0;
        list-style: none;
        a {
            display: block;
            padding: 10px 0;
            color: #000;
            font-weight: 600;
            font-size: 15px;
            &:hover {
                color: var(--cms-primary-regular);
            }
        }
    }
    .mega-auto-width > .elementor-container > .elementor-row > .elementor-element .elementor-column-wrap {
        padding: 0 !important;
        border: none !important;
        margin: 16px 0 !important;
    }
    // Button 
    .btn-menu-mobile{
        width: 32px!important;
        height: 32px!important;
        padding: 0!important;
        min-height: 32px!important;
        border-radius: 4px;
        justify-content: center!important;
    }
    // Radius 
    .cms-radius-mobile-menu-4{
        border-radius: 4px;
    }
}
/* Mega Menu */
li.megamenu {
    position: relative;
    
}
.cms-megamenu-auto {
    width: 480px;
    max-width: 100%;
}

.cms-megamenu-container {
    width: $container-width;
}

//
.menu-item-object-language_switcher span[data-no-translation]{
    display: flex;
    gap: 15px;
    align-items: center;
}
// Side Navigation
.site-navigation-side{
    z-index: 99999999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 366px;
    height: 100vh;
    background-color: var(--cms-primary-darken);
    padding: 0;
    color: $_white;
    visibility: visible;
    opacity: 1;
    @include transition();
    &:not(.navigation-open){
       left: -366px;
       visibility: hidden;
       opacity: 0;
    }
    .main-menu-toggle {
        display: block;
    }
    .sidenav-header{
        display: flex;
    }
    .main-menu-mobile {
        background-color: var(--cms-secondary);
        display: block;
    }
    .side-navigation-content{
        display: flex;
        flex-wrap: wrap;
        > * {
            flex: 0 0 100%;
            width: 100%;
        }
    }
    .cms-primary-menu-sidenav{
        .cms-menu-link{
            color: $_white;
            display: flex;
            justify-content: space-between;
            line-height: 1;
            font-weight: 700;
            align-items: center;
            &:hover{
                color: var(--cms-accent-regular);
            }
        }
        // First Level
        > li {
            > a{
                font-size: 30px;
                padding: 15px 0;
            }
            .sub-menu{
                display: none;
            }
        }
        // Level 2+
        .sub-menu{
            .cms-menu-link{
                font-size: 16px;
                padding-bottom: 15px;
            }
        }
    }
}
// Mobile Menu icon
.open-menu{
    position: relative;
    path{
        @include transition();
    }
    path:nth-child(2){
        visibility: hidden;
        opacity: 0;
    }
    &.opened{
        path:nth-child(1){
            visibility: hidden;
            opacity: 0;
        }
        path:nth-child(2){
            visibility: visible;
            opacity: 1;
        }
    }
}