$align:(
	'start',
	'center',
	'end',
	'justify'
);
.cms-width{
	width: var(--width);
}
.cms-h{
	height: var(--cms-h);
}
/**
 * Max
*/
// Laptop Large
@media #{$max-laptop-large}{
	.flex-laptop-basic{
		flex: 1 0 0%;
	}
	.flex-laptop-auto{
		flex: 0 0 auto;
	}
}
// Laptop
@media #{$max-laptop}{
	@each $name in $align{
		.text-laptop-#{$name}{
			text-align: #{$name};
		}
		.justify-content-laptop-#{$name}{
			justify-content: #{$name};
		}
	}
	.cms-hidden-laptop{
		display: none;
	}
	// Colors
	$tablet_laptop_colors:('primary','white');
	@each $name in $tablet_laptop_colors{
		.bg-laptop-#{$name},
		.bg-laptop-hover-#{$name}:hover{
			background-color: var(--cms-#{$name});
		}
		.text-laptop-#{$name},
		.text-laptop-hover-#{$name}:hover{
			color: var(--cms-#{$name});
		}
	}
	// Max Width
	.max-w, img.max-w{
		max-width: var(--max-w-laptop, var(--max-w));
	}
	// Max Height
	.max-h{
		max-height: var(--max-h-laptop, var(--max-h));
	}
	// Min Height
	.min-h{
		min-height: var(--min-h-laptop, var(--min-h));
	}
	// Gutter
	.gutter-custom{
		margin:calc(var(--gutter-laptop,var(--gutter))/-2);
		> *{
			padding:calc(var(--gutter-laptop,var(--gutter))/2);
		}
	}
	.gutter-custom-x{
		margin-inline-start:calc(var(--gutter-x-laptop,var(--gutter-x,0))/-2);
		margin-inline-end:calc(var(--gutter-x-laptop,var(--gutter-x,0))/-2);
		> *{
			padding-inline-start:calc(var(--gutter-x-laptop,var(--gutter-x,0))/2);
			padding-inline-end:calc(var(--gutter-x-laptop,var(--gutter-x,0))/2);
		}
	}
	.gutter-custom-y{
		margin-block-start:calc(var(--gutter-y-laptop,var(--gutter-y,0))/-2);
		margin-block-end:calc(var(--gutter-y-laptop,var(--gutter-y,0))/-2);
		> *{
			padding-block-start:calc(var(--gutter-y-laptop,var(--gutter-y,0))/2);
			padding-block-end:calc(var(--gutter-y-laptop,var(--gutter-y,0))/2);
		}
	}
	.gutter-custom-my{
		margin-block-start:calc(var(--gutter-y-laptop,var(--gutter-y,0))/-2);
		margin-block-end:calc(var(--gutter-y-laptop,var(--gutter-y,0))/-2);
		> *{
			margin-block-start:calc(var(--gutter-y-laptop,var(--gutter-y,0))/2);
			margin-block-end:calc(var(--gutter-y-laptop,var(--gutter-y,0))/2);
		}
	}
	// Gap
	.gap{
		gap:var(--cms-gap-laptop, var(--cms-gap));
	}
	// Padding
	.pa{
		padding: var(--pa-laptop, var(--pa));
	}
	// Border
	@each $border in $cms_border{
		.bdr-laptop-#{$border}{
			border: #{$border}px solid;
		}
	}
		//Top
		@each $border in $cms_border_t{
			.bdr-t-laptop-#{$border}{
				border-top: #{$border}px solid;
			}
		}
		// Bottom
		@each $border in $cms_border_b{
			.bdr-b-laptop-#{$border}{
				border-bottom: #{$border}px solid;
			}
		}
		// Left
		@each $border in $cms_border_l{
			.bdr-l-laptop-#{$border}{
				border-left: #{$border}px solid;
			}
		}
		// Right
		@each $border in $cms_border_r{
			.bdr-r-laptop-#{$border}{
				border-right: #{$border}px solid;
			}
		}
	// Height
	.cms-h{
		height:var(--cms-h-laptop, var(--cms-h));
	}
}
// Mobile Menu
@media #{$max-mobile-menu}{
	.cms-hidden-mobile-menu{
		display: none!important;
	}
	.flex-mobile-menu-auto{
		flex: 0 0 auto;
		width: auto;
	}
	.flex-mobile-menu-100{
		flex: 0 0 100%;
		width: 100%;
	}
	.justify-mobile-menu-start{
		justify-content: start;
	}
	//gap
	.gap{
		gap: var(--cms-gap-mobile-menu, var(--cms-gap, 20px));
	}
	.gap-mobile-menu-10{
		gap:10px;
	}
	// Border
	.bdr-l-mobile-menu-0,
	.bdr-r-mobile-menu-0{
		border-width: 0;
	}
}
// tablet extra
@media #{$max-tablet-extra}{
	@each $name in $align{
		.text-tablet_extra-#{$name}{
			text-align: #{$name};
		}
		.justify-content-tablet_extra-#{$name}{
			justify-content: #{$name};
		}
	}
	.flex-tablet-extra-wrap{
		flex-wrap: wrap;
	}
	.align-items-tablet-extra-start{
		align-items: start;
	}
	// Colors
	$tablet_extra_colors:('primary','white');
	@each $name in $tablet_extra_colors{
		.bg-tablet-extra-#{$name},
		.bg-tablet-extra-hover-#{$name}:hover{
			background-color: var(--cms-#{$name});
		}
		.text-tablet-extra-#{$name},
		.text-tablet-extra-hover-#{$name}:hover{
			color: var(--cms-#{$name});
		}
	}
	// Width
	.cms-width{
		width: var(--width-tablet-extra, var(--width-laptop, var(--width)));
	}
	// Height
	.cms-h{
		height:var(--cms-h-tablet-extra, var(--cms-h-laptop, var(--cms-h)));
	}
	// Max Width
	.max-w, img.max-w{
		max-width: var(--max-w-tablet-extra, var(--max-w-laptop, var(--max-w)));
	}
	// Min Width
	.min-w{
		min-width: var(--min-w-tablet-extra, var(--min-w-laptop, var(--min-w)));
	}
	// Max Height
	.max-h{
		max-height: var(--max-h-tablet-extra, var(--max-h-laptop, var(--max-h)));
	}
	// Min Height
	.min-h{
		min-height: var(--min-h-tablet-extra, var(--min-h-laptop, var(--min-h)));
	}
	// Gutter
	.gutter-custom{
		margin:calc(var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter)))/-2);
		> *{
			padding:calc(var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter)))/2);
		}
	}
	.gutter-custom-x{
		margin-inline-start:calc(var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))/-2);
		margin-inline-end:calc(var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))/-2);
		> *{
			padding-inline-start:calc(var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))/2);
			padding-inline-end:calc(var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))/2);
		}
	}
	.gutter-custom-y{
		margin-block-start:calc(var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))/-2);
		margin-block-end:calc(var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))/-2);
		> *{
			padding-block-start:calc(var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))/2);
			padding-block-end:calc(var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))/2);
		}
	}
	.gutter-custom-my{
		margin-block-start:calc(var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))/-2);
		margin-block-end:calc(var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))/-2);
		> *{
			margin-block-start:calc(var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))/2);
			margin-block-end:calc(var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))/2);
		}
	}
	// Gap
	.gap{
		gap:var(--cms-gap-tablet-extra, var(--cms-gap-mobile-menu, var(--cms-gap-laptop, var(--cms-gap))));
	}
	//
	.cms-hidden-tablet-extra,
	.cms-hidden-tablet_extra{
		display: none!important;
	}
	// Padding
	.pa{
		padding: var(--pa-tablet-extra, var(--pa-laptop, var(--pa)));
	}
	.cms-transform{
		@include transform(var(--cms-transform-tablet-extra, var(--cms-transform)));
	}
}
// tablet
$cms_gutter_tablet:(
	12
);
@media #{$max-tablet}{
	@each $gutter in $cms_gutter_tablet{
		.gutter-tablet-#{$gutter}{
			margin: #{$gutter*-1/2}px;
			> *{
				padding: #{$gutter*1/2}px;
			}
		}
	}
	@each $name in $align{
		.text-tablet-#{$name}{
			text-align: #{$name};
		}
		.justify-content-tablet-#{$name}{
			justify-content: #{$name};
		}
		.text-tablet-30{
			font-size: 30px;
		}
	}
	.flex-tablet-wrap{
		flex-wrap: wrap;
	}
	.flex-tablet-full,
	.flex-tablet-100{
		flex: 0 0 100%;
		width: 100%;
	}
	.align-items-tablet-unset{
		align-items: unset;
	}
	//
	.cms-hidden-tablet{
		display: none;
	}
	// width
	.w-tablet-100{
		width: 100%;
	}
	.cms-width{
		width: var(--width-tablet, var(--width-tablet-extra, var(--width-laptop, var(--width))));
	}
	// Height
	.cms-h{
		height:var(--cms-h-tablet, var(--cms-h-tablet-extra, var(--cms-h-laptop, var(--cms-h))));
	}
	// Max Width
	.max-w, img.max-w{
		max-width: var(--max-w-tablet, var(--max-w-tablet-extra, var(--max-w-laptop, var(--max-w))));
	}
	// Min Width
	.min-w{
		min-width: var(--min-w-tablet, var(--min-w-tablet-extra, var(--min-w-laptop, var(--min-w))));
	}
	// Max Height
	.max-h{
		max-height: var(--max-h-tablet, var(--max-h-tablet-extra, var(--max-h-laptop, var(--max-h))));
	}
	// Min Height
	.min-h{
		min-height: var(--min-h-tablet, var(--min-h-tablet-extra, var(--min-h-laptop, var(--min-h))));
	}
	.h-tablet-auto{
		height: auto;
	}
	// Gutter
	.gutter-custom{
		margin:calc(var(--gutter-tablet, var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter))))/-2);
		> *{
			padding:calc(var(--gutter-tablet, var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter))))/2);
		}
	}
	.gutter-custom-x{
		margin-inline-start:calc(var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0))))/-2);
		margin-inline-end:calc(var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0))))/-2);
		> *{
			padding-inline-start:calc(var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0))))/2);
			padding-inline-end:calc(var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0))))/2);
		}
	}
	.gutter-custom-y{
		margin-block-start:calc(var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))/-2);
		margin-block-end:calc(var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))/-2);
		> *{
			padding-block-start:calc(var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))/2);
			padding-block-end:calc(var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))/2);
		}
	}
	.gutter-custom-my{
		margin-block-start:calc(var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))/-2);
		margin-block-end:calc(var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))/-2);
		> *{
			margin-block-start:calc(var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))/2);
			margin-block-end:calc(var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))/2);
		}
	}
	// Gap
	.gap{
		gap:var(--cms-gap-tablet, var(--cms-gap-tablet-extra, var(--cms-gap-mobile-menu,var(--cms-gap-laptop, var(--cms-gap)))));
	}
	@each $gap in $cms_gap_tablet{
		.gap-tablet-#{$gap}{
			gap:#{$gap}px;
		}
	}
	// Position
	.cms-sticky{
		top:var(--cms-sticky-tablet, var(--cms-sticky-tablet-extra, var(--cms-sticky-laptop, var(--cms-sticky, 0))));
	}
	.cms-tablet-relative{
		position: relative!important;
	}
	// Translate
	.cms-translateX{
		@include transform(translateX(var(--cms-translateX-tablet, var(--cms-translateX-tablet-extra, var(--cms-translateX-laptop, var(--cms-translateX))))));
	}
	.cms-translateY{
		@include transform(translateY(var(--cms-translateY-tablet, var(--cms-translateY-tablet-extra, var(--cms-translateY-laptop, var(--cms-translateY))))));
	}
	.cms-transform{
		@include transform(var(--cms-transform-tablet, var(--cms-transform-tablet-extra, var(--cms-transform))));
	}
	.cms-hover-change:hover{
		.cms-on-hover-translateY{
			@include transform(translateY(var(--cms-on-hover-translateY-tablet, var(--cms-on-hover-translateY-tablet-extra,var(--cms-on-hover-translateY)))));
		}
	}
	// Padding
	.pa{
		padding: var(--pa-tablet, var(--pa-tablet-extra, var(--pa-laptop, var(--pa))));
	}
}
// Mobile Extra 
@media #{$max-mobile-extra}{
	.flex-mobile-extrap-wrap{
		flex-wrap: wrap;
	}
	.d-mobile-extra-flex{
		display: flex;
	}
	.cms-show-max-mobile-extra{
		display: block!important;
	}
	@each $name in $align{
		.text-mobile_extra-#{$name}{
			text-align: #{$name};
		}
		.justify-content-mobile_extra-#{$name}{
			justify-content: #{$name};
		}
	}
	.cms-hidden-mobile_extra,
	.cms-hidden-mobile-extra{
		display: none;
	}
	.flex-mobile-extra-wrap{
		flex-wrap: wrap;
	}
	.align-items-mobile-extra-center{
		align-items:center;
	}
	.align-self-mobile-extra-end{
		align-self:end;
	}
	.flex-mobile-extra-100,
	.flex-mobile-extra-full {
		width: 100%;
		flex: 0 0 100%;
	}
	// Width
	.cms-width{
		width: var(--width-mobile-extra,var(--width-tablet, var(--width-tablet-extra, var(--width-laptop, var(--width)))));
	}
	// Height
	.cms-h{
		height:var(--cms-h-mobile-extra, var(--cms-h-tablet, var(--cms-h-tablet-extra, var(--cms-h-laptop, var(--cms-h)))));
	}
	// Max Width
	.max-w, img.max-w{
		max-width: var(--max-w-mobile-extra,var(--max-w-tablet, var(--max-w-tablet-extra, var(--max-w-laptop, var(--max-w)))));
	}
	// Min Width
	.min-w{
		min-width: var(--min-w-mobile-extra,var(--min-w-tablet, var(--min-w-tablet-extra, var(--min-w-laptop, var(--min-w)))));
	}
	// Max Height
	.max-h{
		max-height: var(--max-h-mobile-extra, var(--max-h-tablet, var(--max-h-tablet-extra, var(--max-h-laptop, var(--max-h)))));
	}
	// Min Height
	.min-h{
		min-height: var(--min-h-mobile-extra, var(--min-h-tablet, var(--min-h-tablet-extra, var(--min-h-laptop, var(--min-h)))));
	}
	// Gutter
	.gutter-custom{
		margin:calc(var(--gutter-mobile-extra, var(--gutter-tablet, var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter)))))/-2);
		> *{
			padding:calc(var(--gutter-mobile-extra, var(--gutter-tablet, var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter)))))/2);
		}
	}
	.gutter-custom-x{
		margin-inline-start:calc(var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))))/-2);
		margin-inline-end:calc(var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))))/-2);
		> *{
			padding-inline-start:calc(var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))))/2);
			padding-inline-end:calc(var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))))/2);
		}
	}
	.gutter-custom-y{
		margin-block-start:calc(var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))/-2);
		margin-block-end:calc(var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))/-2);
		> *{
			padding-block-start:calc(var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))/2);
			padding-block-end:calc(var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))/2);
		}
	}
	.gutter-custom-my{
		margin-block-start:calc(var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))/-2);
		margin-block-end:calc(var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))/-2);
		> *{
			margin-block-start:calc(var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))/2);
			margin-block-end:calc(var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))/2);
		}
	}
	// Gap
	.gap{
		gap:var(--cms-gap-mobile-extra, var(--cms-gap-tablet, var(--cms-gap-tablet-extra, var(--cms-gap-laptop, var(--cms-gap)))));
	}
	// Position
	.cms-sticky{
		top:var(--cms-sticky-mobile-extra, var(--cms-sticky-tablet, var(--cms-sticky-tablet-extra, var(--cms-sticky-laptop, var(--cms-sticky, 0)))));
	}
	// Padding
	.pa{
		padding: var(--pa-mobile-extra, var(--pa-tablet, var(--pa-tablet-extra, var(--pa-laptop, var(--pa)))));
	}
	// Translate
	.cms-translateY{
		@include transform(translateY(var(--cms-translateY-mobile-extra, var(--cms-translateY-tablet, var(--cms-translateY-tablet-extra, var(--cms-translateY-laptop, var(--cms-translateY)))))));
	}
	.cms-transform{
		@include transform(var(--cms-transform-mobile-extra,var(--cms-transform-tablet, var(--cms-transform-tablet-extra, var(--cms-transform)))));
	}
	// Border
	.bdr-b-mobile-extra-0{
		border-bottom: 0;
	}
	.bdr-r-mobile-extra-0{
		border-right: 0;
	}
	.bdr-l-mobile-extra-1{
		border-left: 1px solid;
	}
}
// Mobile
$cms_gutter_mobile:(0, 10);
@media #{$max-mobile}{
	@each $gutter in $cms_gutter_mobile{
		.gutter-mobile-#{$gutter}{
			margin: #{$gutter*-1/2}px;
			> *{
				padding: #{$gutter*1/2}px;
			}
		}
	}
	// Button
	form{
		.btn,
		.button,
		button:not(.cms-btn):not(.cms-search-submit):not(.cms-wgsearch-submit):not([class^="wc-block-"]):not([class*="elementor-add-"]):not(.e-con-preset):not(.e-con-select-type__icons__icon),
		input[type="submit"],
		input[type="button"] {
		    min-height: var(--cms-form-btn-height-mobile, var(--cms-form-btn-height, 58px));
		}
	}
	//
	@each $name in $align{
		.text-mobile-#{$name}{
			text-align: #{$name};
		}
		.justify-content-mobile-#{$name}{
			justify-content: #{$name};
		}
	}
	.cms-hidden-mobile{
		display: none;
	}
	.cms-show-max-mobile{
		display: block!important;
	}
	.flex-mobile-basic {
	    flex: 1 0 0%;
	}
	.align-items-mobile-start{
		align-items:start;
	}
	.align-items-mobile-center{
		align-items:center;
	}
	.align-items-mobile-end{
		align-items:end;
	}
	.align-self-mobile-end{
		align-self:end;
	}
	.order-mobile-last{
		order:9999!important;
	}
	.w-mobile-100{
		width: 100%;
	}
	.h-mobile-auto{
		height: auto;
	}
	// Width
	.cms-width{
		width: var(--width-mobile, var(--width-mobile-extra,var(--width-tablet, var(--width-tablet-extra, var(--width-laptop, var(--width))))));
	}
	.w-mobile-100{
		width: 100%;
	}
	// Height
	.cms-h{
		height:var(--cms-h-mobile, var(--cms-h-mobile-extra, var(--cms-h-tablet, var(--cms-h-tablet-extra, var(--cms-h-laptop, var(--cms-h))))));
	}
	// Max Width
	.max-w, img.max-w{
		max-width: var(--max-w-mobile, var(--max-w-mobile-extra,var(--max-w-tablet, var(--max-w-tablet-extra, var(--max-w-laptop, var(--max-w))))));
	}
	// Min Width
	.min-w{
		min-width: var(--min-w-mobile, var(--min-w-mobile-extra,var(--min-w-tablet, var(--min-w-tablet-extra, var(--min-w-laptop, var(--min-w))))));
	}
	// Max Height
	.max-h{
		max-height: var(--max-h-mobile, var(--max-h-mobile-extra, var(--max-h-tablet, var(--max-h-tablet-extra, var(--max-h-laptop, var(--max-h))))));
	}
	// Min Height
	.min-h{
		min-height: var(--min-h-mobile, var(--min-h-mobile-extra, var(--min-h-tablet, var(--min-h-tablet-extra, var(--min-h-laptop, var(--min-h))))));
	}
	.flex-mobile-wrap{
		flex-wrap: wrap;
	}
	.flex-mobile-full,
	.flex-mobile-100{
		flex: 0 0 100%;
		width: 100%;
	}
	// Gutter
	.gutter-custom{
		margin:calc(var(--gutter-mobile, var(--gutter-mobile-extra, var(--gutter-tablet, var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter))))))/-2);
		> *{
			padding:calc(var(--gutter-mobile, var(--gutter-mobile-extra, var(--gutter-tablet, var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter))))))/2);
		}
	}
	.gutter-custom-x{
		margin-inline-start:calc(var(--gutter-x-mobile, var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0))))))/-2);
		margin-inline-end:calc(var(--gutter-x-mobile, var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0))))))/-2);
		> *{
			padding-inline-start:calc(var(--gutter-x-mobile, var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0))))))/2);
			padding-inline-end:calc(var(--gutter-x-mobile, var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0))))))/2);
		}
	}
	.gutter-custom-y{
		margin-block-start:calc(var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))))/-2);
		margin-block-end:calc(var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))))/-2);
		> *{
			padding-block-start:calc(var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))))/2);
			padding-block-end:calc(var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))))/2);
		}
	}
	.gutter-custom-my{
		margin-block-start:calc(var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))))/-2);
		margin-block-end:calc(var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))))/-2);
		> *{
			margin-block-start:calc(var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))))/2);
			margin-block-end:calc(var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0))))))/2);
		}
	}
	// Gap
	.gap{
		gap:var(--cms-gap-mobile,var(--cms-gap-mobile-extra, var(--cms-gap-tablet, var(--cms-gap-tablet-extra, var(--cms-gap-laptop, var(--cms-gap))))));
	}
	@each $gap in $cms_gap_mobile{
		.gap-mobile-#{$gap}{
			gap:#{$gap}px;
		}
	}
	// Position
	.cms-sticky{
		top:var(--cms-sticky-mobile, var(--cms-sticky-mobile-extra, var(--cms-sticky-tablet, var(--cms-sticky-tablet-extra, var(--cms-sticky-laptop, var(--cms-sticky, 0))))));
	}
	.cms-mobile-relative{
		position: relative!important;
		top: 0;
	}
	// Padding
	.pa{
		padding: var(--pa-mobile,var(--pa-mobile-extra, var(--pa-tablet, var(--pa-tablet-extra, var(--pa-laptop, var(--pa))))));
	}
	// Translate
	.cms-translateY{
		@include transform(translateY(var(--cms-translateY-mobile, var(--cms-translateY-mobile-extra, var(--cms-translateY-tablet, var(--cms-translateY-tablet-extra, var(--cms-translateY-laptop, var(--cms-translateY))))))));
	}
	.cms-transform{
		@include transform(var(--cms-transform-mobile,var(--cms-transform-mobile-extra,var(--cms-transform-tablet, var(--cms-transform-tablet-extra, var(--cms-transform))))));
	}
	// Border
	.bdr-t-mobile-1{
		border-top: 1px solid;
	}
	.bdr-r-mobile-0{
		border-right-width: 0;
	}
}
// Small Mobile
@media #{$max-smobile}{
	@each $name in $align{
		.text-smobile-#{$name}{
			text-align: #{$name};
		}
		.justify-content-smobile-#{$name}{
			justify-content: #{$name};
		}
	}
	.flex-smobile-wrap{
		flex-wrap: wrap;
	}
	.flex-smobile-full,
	.flex-smobile-100{
		flex: 0 0 100%;
		width: 100%;
	}
	// gap
	.gap-smobile-20{
		gap: 20px;
	}
	// order
	.order-smobile-first{
		order: -1;
	}
	.order-smobile-last{
		order: 999;
	}
	// Width
	.cms-width{
		width: var(--width-smobile,var(--width-mobile, var(--width-mobile-extra,var(--width-tablet, var(--width-tablet-extra, var(--width-laptop, var(--width)))))));
	}
	.w-smobile-100{
		width: 100%;
	}
	// Height
	.cms-h{
		height:var(--cms-h-smobile,var(--cms-h-mobile, var(--cms-h-mobile-extra, var(--cms-h-tablet, var(--cms-h-tablet-extra, var(--cms-h-laptop, var(--cms-h)))))));
	}
	//
	.cms-hidden-smobile{
		display: none;
	}
	// Max Width
	.max-w, img.max-w{
		max-width: var(--max-w-smobile, var(--max-w-mobile, var(--max-w-mobile-extra, var(--max-w-tablet, var(--max-w-tablet-extra, var(--max-w-laptop, var(--max-w)))))));
	}
	// Min Width
	.min-w{
		min-width: var(--min-w-smobile, var(--min-w-mobile, var(--min-w-mobile-extra, var(--min-w-tablet, var(--min-w-tablet-extra, var(--min-w-laptop, var(--min-w)))))));
	}
	// Max Height
	.max-h{
		max-height: var(--max-h-smobile, var(--max-h-mobile, var(--max-h-mobile-extra, var(--max-h-tablet, var(--max-h-tablet-extra, var(--max-h-laptop, var(--max-h)))))));
	}
	// Min Height
	.min-h{
		min-height: var(--min-h-smobile, var(--min-h-mobile, var(--min-h-mobile-extra, var(--min-h-tablet, var(--min-h-tablet-extra, var(--min-h-laptop, var(--min-h)))))));
	}
	// Gutter
	.gutter-smobile-0{
		margin: 0;
		> *{
			padding: 0;
		}
	}
	.gutter-custom{
		margin:calc(var(--gutter-smobile, var(--gutter-mobile, var(--gutter-mobile-extra, var(--gutter-tablet, var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter)))))))/-2);
		> *{
			padding:calc(var(--gutter-smobile, var(--gutter-mobile, var(--gutter-mobile-extra, var(--gutter-tablet, var(--gutter-tablet-extra, var(--gutter-laptop,var(--gutter)))))))/2);
		}
	}
	.gutter-custom-x{
		margin-inline-start:calc(var(--gutter-x-smobile, var(--gutter-x-mobile, var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))))))/-2);
		margin-inline-end:calc(var(--gutter-x-smobile, var(--gutter-x-mobile, var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))))))/-2);
		> *{
			padding-inline-start:calc(var(--gutter-x-smobile, var(--gutter-x-mobile, var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))))))/2);
			padding-inline-end:calc(var(--gutter-x-smobile, var(--gutter-x-mobile, var(--gutter-x-mobile-extra,var(--gutter-x-tablet,var(--gutter-x-tablet-extra, var(--gutter-x-laptop,var(--gutter-x,0)))))))/2);
		}
	}
	.gutter-custom-y{
		margin-block-start:calc(var(--gutter-y-smobile, var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))))/-2);
		margin-block-end:calc(var(--gutter-y-smobile, var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))))/-2);
		> *{
			padding-block-start:calc(var(--gutter-y-smobile, var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))))/2);
			padding-block-end:calc(var(--gutter-y-smobile, var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))))/2);
		}
	}
	.gutter-custom-my{
		margin-block-start:calc(var(--gutter-y-smobile, var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))))/-2);
		margin-block-end:calc(var(--gutter-y-smobile, var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))))/-2);
		> *{
			margin-block-start:calc(var(--gutter-y-smobile, var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))))/2);
			margin-block-end:calc(var(--gutter-y-smobile, var(--gutter-y-mobile, var(--gutter-y-mobile-extra,var(--gutter-y-tablet,var(--gutter-y-tablet-extra, var(--gutter-y-laptop,var(--gutter-y,0)))))))/2);
		}
	}
	// Gap
	.gap{
		gap:var(--cms-gap-smobile, var(--cms-gap-mobile,var(--cms-gap-mobile-extra, var(--cms-gap-tablet, var(--cms-gap-tablet-extra, var(--cms-gap-laptop, var(--cms-gap)))))));
	}
	// Padding
	.pa{
		padding: var(--pa-smobile, var(--pa-mobile,var(--pa-mobile-extra, var(--pa-tablet, var(--pa-tablet-extra, var(--pa-laptop, var(--pa)))))));
	}
	// Translate
	.cms-translateY{
		@include transform(translateY(var(--cms-translateY-smobile, var(--cms-translateY-mobile, var(--cms-translateY-mobile-extra, var(--cms-translateY-tablet, var(--cms-translateY-tablet-extra, var(--cms-translateY-laptop, var(--cms-translateY)))))))));
	}

	.cms-transform{
		@include transform(var(--cms-transform-smobile, var(--cms-transform-mobile,var(--cms-transform-mobile-extra,var(--cms-transform-tablet, var(--cms-transform-tablet-extra, var(--cms-transform)))))));
	}
	// Border
	.bdr-t-smobile-1{
		border-top-width: 1px;
	}
	.cms-smobile-relative{
		position: relative!important;
		top: 0;
	}
}
// Extra Small
@media (max-width: 370px){
	.p-lr-xsmobile-10{
		padding-inline-start: 10px;
		padding-inline-end: 10px;
	}
	.gap-xsmobile-10{
		gap:10px;
	}
}
/**
 * Min
*/
@media #{$min-smobile}{
	.cms-hidden-min-smobile{
		display: none;
	}
}
@media #{$min-widescreen}{
	.m-lr{
		margin-inline-start: var(--m-lr-widescreen);
		margin-inline-end: var(--m-lr-widescreen);
	}
}
@media #{$hidden-wide}{
	.cms-hidden-wide,
	.cms-hidden-minmax-wide{
		display: none!important; 
	}
}
@media (min-width:$mobile-menu-screen){
	.cms-hidden-desktop-menu,
	.cms-hidden-minmax-desktop-menu{
		display: none!important;
	}
}
@media #{$hidden-desktop}{
	.cms-hidden-desktop,
	.cms-hidden-minmax-desktop{
		display: none!important;
	}
}
@media #{$hidden-laptop-large}{
	.cms-hidden-laptop-large{
		display: none!important;
	}
}
@media #{$hidden-laptop}{
	.cms-hidden-laptop{
		display: none!important;
	}
}
@media #{$min-desktop}{
	.cms-hidden-min-desktop{
		display: none!important;
	}
}
@media #{$min-tablet-extra}{
	.cms-hidden-min-tablet-extra{
		display: none!important;
	}
}
//@media #{$hidden-tablet}{
@media #{$min-tablet}{
	.cms-hidden-min-tablet{
		display: none!important;
	}
}
@media #{$hidden-max-tablet}{
	.cms-hidden-max-tablet{
		display: none!important;
	}
}
@media #{$max-mobile}{
	.cms-hidden-max-mobile{
		display: none!important;
	}
}
@media #{$hidden-min-mobile-extra}{
	.cms-hidden-min-mobile-extra{
		display: none!important;
	}
}
@media #{$hidden-min-mobile-extra2}{
	.cms-hidden-min-mobile-extra2{
		display: none!important;
	}
}

/**
 * Min Max
 * */
$hidden-minmax-laptop-large: "screen and (min-width: 1441px) and (max-width: 1599px)";
@media #{$hidden-minmax-laptop-large}{
	.cms-hidden-minmax-laptop-large{
		display: none!important;
	}
}
$hidden-minmax-laptop: "screen and (min-width: 1281px) and (max-width: 1440px)";
@media #{$hidden-minmax-laptop}{
	.cms-hidden-minmax-laptop{
		display: none!important;
	}
}
$hidden-minmax-tablet-extra: "screen and (min-width: 1025px) and (max-width: 1280px)";
@media #{$hidden-minmax-tablet-extra}{
	.cms-hidden-minmax-tablet-extra{
		display: none!important;
	}
}
$hidden-minmax-tablet: "screen and (min-width: 768px) and (max-width: 1024px)";
@media #{$hidden-minmax-tablet}{
	.cms-hidden-minmax-tablet{
		display: none!important;
	}
}
$hidden-minmax-mobile-extra: "screen and (min-width: 768px) and (max-width: 880px)";
@media #{$hidden-minmax-mobile-extra}{
	.cms-hidden-minmax-mobile-extra{
		display: none!important;
	}
}
$hidden-minmax-mobile: "screen and (min-width: 0) and (max-width: 767px)";
@media #{$hidden-minmax-mobile}{
	.cms-hidden-minmax-mobile{
		display: none!important;
	}
}