.cms-wgtitle{
	margin-top: -7px;
	padding-bottom: 28px;
	font-size: 20px;
	font-weight: 500;
	position: relative;
	&:empty{
		display: none;
	}
}
// CMS Widget Recent Post
// CMS Widget Gallery 
// CMS Widget Follow Us
.widget_cms_follow_us{
	.cms-wg-follow-us{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		font-size: 20px;
	}
	a:hover{
		@include scale(1.3);
	}
}
// CMS Menu
.widget_cms_menu{
	.cms-menu-link{
		display: flex;
		justify-content: space-between;
	}
	.sub-menu-toggle{
		display: none;
	}
}
.cms-wg-menu{
	.count{
		min-width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: normal;
		font-size: 12px;
		padding: 5px;
		@include border-radius(50%);
	}
}
.cms-wg-menu-1{
	font-size: 14px;
	font-weight: 700;
	li:not(:last-child){
		padding-bottom: 8px;
	}
	a{
		padding: 20px 32px;
		color: var(--cms-white);
		background-color: var(--cms-menu);
		border-radius: 10px;
		&:hover{
			background-color: var(--cms-accent);
		}
	}
	.count{
		background-color: var(--cms-white);
		color: var(--cms-menu);
	}
	.children,
	.sub-menu{
		margin-bottom: 0;
		margin-top: 8px;
		margin-inline-start: 8px;
	}

	li.current,
	li.current-menu-item,
	li:hover{
		> a{
			background-color: var(--cms-accent);
		}
	}
}
/* Categories */
.cms-wg-menu-2{
	background-color: var(--cms-white);
	border: 2px solid var(--cms-divider);
	border-radius: 12px;
	padding: 20px 40px;
	margin: 0!important;
	a{
		font-size: 14px;
		font-weight: 500;
	    position: relative;
	    padding: 14px 0;
	    color: var(--cms-menu);
	    @include transform(translateX(-20px));
	}
	.menu-title{
		display: flex;
		gap: 10px;
	}
	.menu-icon{
        visibility: hidden;
        opacity: 0;
        @include transition();
        @include transform(translateX(-20px));
	}
	.count{
		background-color: var(--cms-menu);
		color: var(--cms-white);
	}
	li{
		overflow: hidden;
		&:not(:last-child){
	    	border-bottom: 1px solid var(--cms-divider);
	    }
	    //
	    &:hover ,
	    &.current-menu-item{
	    	//border-color: var(--cms-accent-regular);
	    	a{
	    		color: var(--cms-accent-regular);
	    		@include transform(translateX(0));
	    	}
	    	.menu-icon{
		        visibility: visible;
		        opacity: 1;
		        @include transform(translate(0,0));
			}
	    }
	}
}
.cms-widget-menu-item{
	font-size: 15px;
	&:not(:last-child){
		margin-bottom: 8px;
	}
	>a{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 21px 32px;
		background-color: var(--cms-menu);
		color: $white;
	}
	.count{
		min-width: 24px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		border-radius: 50%;
		background-color: var(--cms-white);
		color: var(--cms-menu);
		font-size: 12px;
		font-weight: normal;
	}
	&:hover,
	&.current{
		> a{
			background-color: var(--cms-accent-regular);
			color: $white;
		}
	}
	// Child 
	.children.cms-dropdown{
		margin-top: 8px;
		margin-inline-start: 8px;
	}
}
// Tags Cloud
.tagcloud,
.wp-tag-cloud[role="list"]{
	line-height: 17px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin:0;
	padding: 0;
	> li{
		margin-bottom: 0!important;
	}
}
.tag-cloud-link{
    display: block;
    padding: 6px 10px 5px;
    color: var(--cms-white);
    background-color: var(--cms-primary-regular);
    border-radius: 4px;
	&:hover{
		color: var(--cms-white);
		background-color: var(--cms-accent-regular);
	}
}

// Calendar 
.wp-calendar-table{
	font-size: 15px;
}
// Navigation in widget
.cms-widget{
	nav[aria-label]{
		font-size: 15px;
		ul{
			list-style: none;
			margin-top: 8px;
			margin-inline-start: 8px;
		}
	}
}
// RSS
.widget_rss{
	.rss-date{
		font-size: 13px;
		display: block;
	}
	cite{
		font-family: var(--cms-heading-family);
		font-weight: var(--cms-heading-weight);
		color: var(--cms-heading-regular);
	}
}
// Sidebar
@import "sidebar";